{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Vins</h1>
    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ entity.region }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ entity.quantite }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>
                    {% if entity.color == 'white' %}
                        Blanc
                    {% elseif entity.color == 'red' %}
                        Rouge
                    {% elseif entity.color == 'rose' %}
                        Rosé
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-xs btn-primary" href="{{ path('vins') }}">
        Retourner à ma cave
    </a>
    <br/>
    <br/>
    <a class="btn btn-xs btn-success" href="{{ path('vins_edit', { 'id': entity.id }) }}">
        Editer
    </a>
    <br/>
    <br/>

    {{ form(delete_form) }}
{% endblock %}
